<html xmlns:th="http://www.thymeleaf.org" lang="en">

<th:block th:fragment="modal-update-user">
    <div id="modalUpdateUser" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
        <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Update User</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="modal-alert-danger hide"></div>

                    <form id="frmUpdateUser" method="post">
                        <fieldset class="row g-3">
                            <div class="col-6">
                                <input type="hidden" id="idUserUp">
                                <label class="form-label">First Name:</label>
                                <input type="text" class="form-control"  id="firstnameUp" name="firstnameUp">
                            </div>
                            <div class="col-6">
                                <label class="form-label">Last Name:</label>
                                <input type="text" class="form-control"  id="lastnameUp" name="lastnameUp">
                            </div>
                            <div class="col-12">
                                <label class="form-label">Email:</label>
                                <input type="text" readonly class="form-control"  id="EmailUp" name="EmailUp">
                            </div>
                            <div class="col-4">
                                <label class="form-label">Role</label>
                                <select class="form-control" id="roleUp" >
                                    <option value="1">ADMIN</option>
                                    <option value="2">USER</option>
                                </select>
                            </div>

                        </fieldset>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="btnUpdateUser" class="btn btn-outline-primary btnUpdateUser">
                        Update user
                    </button>
                </div>
            </div>
        </div>
    </div>

</th:block>
